[Unit]
Description=Rascal orchestrator service (%i)
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/rascal/rascal.env
EnvironmentFile=-/etc/rascal/rascal-%i.env
ExecStart=/opt/rascal/rascald
Restart=always
RestartSec=3
KillSignal=SIGTERM
TimeoutStopSec=330
User=root
WorkingDirectory=/opt/rascal

[Install]
WantedBy=multi-user.target
